{% load markup %}


<div class="article">

            <div class="article_header">
            <h1> {{ object.title }}</h1>
            <p class="article_info">
            {{ object.creation_datetime|date:"Y-m-d" }} przez <a href="#">{{object.author}}</a> w 
            {% for tag in object.get_tag %}
                <a href="{% url tag_view tag.code %}"> <span style="padding-right:10px;">{{tag}} </span></a>  
            {% endfor %}
            </p>
            </div>
            <div class="full_article">
            {{ object.get_test|safe}}
            </div>
            
              {% if user.is_authenticated and user == object.author %}
                <div  class="author_article_footer"> 
                    <span class="article_nav"> <a href="{% url article_update object.id %}"> Edit </a></span> 
                    <span class="article_nav">  <a href="{% url article_delete object.id %}"> Delete</a></span>
                    <span class="article_nav">  <a href="{% url notes_view 'article' object.id %}"> View Notes</a>
                     </span>
                     
                </div>
             {% endif %}
            
</div>