html, body, table, div, ul, ol, li
{
  margin:0px;
  border:0px;
  padding:0px;
}


html
{
  font-size:15px;    
  font-family: Arial, Helvetica, "Liberation Sans", "Nimbus Sans L", "Garuda", "Free Sans";
 
}

body
{
  width:100%;
  height:100%; 
  position:relative;
  background-image:url('../background1.png'); 
  background-repeat:repeat-x;
}
section, article, header, nav, footer
{
 display:block;    
}




#upper_stripe
{
  min-width:1100px;
  width:100%;
  height:4px;
  background-color:#161616;
}

/* div main - all site with data wrapper */
div#main
{
   width:1100px;
   margin-left:auto;
   margin-right:auto;
   position:relative;
       
}



div#main header > a
{
  text-decoration:none;
  display:block;
  width:320px;
  margin-left:30px;
}

div#main  header h1
{
    text-indent:-9999px;
    background: url('../oslogo.png') no-repeat;    
    height:90px;
    width:320px;
 
    
}

#header-top  nav
{
  position:absolute;
  left:547px;
  top:10px;
  width:500px;
  text-align:right;
}

#header-top nav ul
{
  list-style:none;
}

#header-top nav li 
{
  display:inline;
  padding-left:30px;
}

#header-top nav a, #header-top nav a:link, #header-top nav a:visited
{
  text-decoration:none;
  color: #8a8a8a;
}

#header-top nav a:hover
{
    color:black;
}


article.quote
{
    width:820px;
    min-height:100px;
    margin-top:90px;
    border-top:1px solid #dadada;
    border-bottom:2px solid #dadada;
    margin-left:auto;
    margin-right:auto;
    font-size:1.2em;
    font-weight:400;
    color:#8a8a8a;
    font-style:italic;
    line-height:1.5em;
    text-align:justify;
    padding-left:100px;
    padding-right:100px;
}
/* color classes */

p.quote_author
{
    text-align:right;
    padding-right:30px;
    font-size:0.9em;
}

article.blog
{
    
    width:820px;
    min-height:100px;
    margin-left:auto;
    margin-right:auto;
    line-height:1.5em;
    text-align:justify;
    padding-left:100px;
    padding-right:100px;
    margin-top:60px;
}

.entry
{
  width:680px;
  color: #313131;
  font-size:0.95em;
  line-height:1.5em;
  text-align:justify;
  float:right;
 }
 
.blog_date
{
  
  padding-left:3px;
  float:left;
  text-align:left;
  /*border-top:1px solid #00CFF6;*/
  padding-top:10px;
  font-size:0.8em;
  color: #313131;
 }


.entry h1
{
    font-size: 1.3em;
    font-weight: 100;
}

.entry h2
{
    font-size: 1.2em;
}
.entry h3
{
    font-size: 1em;
}


h1.title
{
    \\float:left;
}

.entry h1 a 
{
  color:#111111;
}

.entry h1 a:hover
{
  color:#717171;
}

{
    font-size: 1.3em;
    font-weight: 100;
}

nav.tags
{
  float:right;
  top:-30px;
  right:-20px;
  padding-top:15px;
}
a, a:link, a:visited, a:active
{
    color:#2E8FCA;
    text-decoration:none;
}

a.author
{
  color: #010101;    
}
a:hover
{
    color:#717171;
}

footer
{
  margin-top:100px;
  width:100%;
  min-height:100px;
  border-top:1px solid #c8c8c8;
  color:#838383;
  font-size:0.8em;
  padding-right:10px;
  padding-left:10px;
}

table.codehilitetable
{
  font-family:"Courier New", courier;
  font-size:0.8em;    
}

.linenos pre
{
  background-color: #e8e8e8;   
}

form
{
    width:820px;
    margin-top:90px;
    padding-top:50px;
    border-top:1px solid #dadada;
    margin-left:auto;
    margin-right:auto;
    font-size:1em;
    font-weight:400;
    color:#8a8a8a;
}

textarea
{
  width:650px;    
  height:450px;
}
textarea.teaser
{
  height:150px;    
}


.article_nav
{
   padding-right:40px;    
}

.not_published
{
  background-color: #fff2f2;    
}

.not_promoted
{
  background-color: #FAFFF7;    
}

.blue
{
 color: #00ADD4;    
}

.green
{
    color: #74CA55;
}

.clear
{
    clear:both;
}