{% load markup %}

{% for i in object_list %}

    {% if i.is_published and i.is_promoted or user.is_authenticated and user == i.author%}
    <div class="article {% if not i.is_published %} not_published_bg {% else %} {%if not i.is_promoted %}not_promoted_bg %} {% endif %} {% endif %}">
                <div class="article_header_front">
                    <h1> <a href="{% url article i.id %}">{{i.title}} </a></h1>
                    <p class="article_info">
                    {{ i.creation_datetime|date:"Y-m-d" }} przez <a href="#">{{i.author}}</a> w 
                    {% for tag in i.get_tag %}
                        <a href="{% url tag_view tag.code %}"> <span style="padding-right:10px;">{{tag}} </span></a>  
                    {% endfor %}
                    </p>
                </div>
                <p class="teaser">
                {{ i.teaser }}
                </p>
            </div>
    {% endif %}
{% endfor %}