<form action="" method="post">
<div id="images" style="color:black">
<h3> Images related to article</h3>
<table class="image_table">
<thead>
<tr><th> filename</th><th>thumbnail</th></tr>
</thead>
<tbody>
{% for  i in images %}
<tr><td>{{i.attachment}}</td><td> <img src="{{i.attachment.url}}" style="width:30px;"></td></tr>
{% endfor %}
</tbody>
</table>
<a href="{% url add_image object.id %}"> add image </a>
</div>

<div id="images" style="color:black; padding-top:20px;">
<h3> Files related to article</h3>
<table class="image_table">
<thead>
<tr><th> filename</th></tr>
</thead>
<tbody>
{% for  i in files %}
<tr><td>{{i.attachment}}</td></tr>
{% endfor %}
</tbody>
</table>
<a href="{% url add_file object.id %}"> add file </a>
</div>

{% for field in form %}
    <div style="margin-top:30px;">
        <span style="color:red">{{ field.errors}}</span>
        <label for="{{ field.label }}" style="color:black; width:130px; float:left;"> {{ field.label }}
        {% if field.field.required %}<span style="color:red">*</span>{% endif %}</label>
        
        {{ field }}
    </div>

{% endfor %}



<p><input type="submit" value="Save article" /></p>
{% csrf_token %}

</form>

