{% extends 'bookstyle/base.html' %}

{% block body %}

<div id='upper_stripe'> </div>
<div id="main">

    <!-- header section -->
    <header id="header-top">
    <a href="{% url main %}"> <h1>  Open Synergy notebook </h1> </a>
        <nav>
        <ul>
            <li> <a href="{% url main %}">Home </a></li>
            {% if user.is_authenticated %}
                <li> <a href="{% url article_add %}"> Add article </a></li>
                <li> <a href="{% url grouper_add %}"> Add gruper </a></li>
                <li> <a href="{% url logout %}"> Logout </a></li>
            {% endif %}
        </ul>
        </nav>
    </header>
    <!-- end header section -->
    
    <!-- quote section -->
{#    {% block quote %} {% endblock %}  #}
    <article class="quote">
    <p class="quote">
    “Fine, Java MIGHT be a good example of what a programming language should be like. But Java applications are good examples of what applications SHOULDN’T be like.”
    </p>
    <p class="quote_author">
        Noname
    </p>    
    </article>



    <!-- end quote section -->
    
   {% block main %} {% endblock %}
    
    <!-- end blog section -->
    
    <!-- footer section -->
    <footer>
    <p style="float:left;">OpenSynergy - we belive in cooperation and good fun !!!</p> <address style="float:right;padding-top:15px;"> <a href="mailto:"> contact@opensynergy.pl </a></address>
    
    </footer>
    <!-- end footer section -->
    
</div>    


{% endblock %}
