<ul>
  <li> <a href="{% url main %}">STRONA GŁÓWNA</a></li>
{#  <li> <a href="{% url main %}">ARTYKUŁY</a></li> #}
  <li> <a href="{% url books %}">PODRĘCZNIKI</a></li>
{#    <li> <a href="#">INFO </a></li> #}
{#    <li> <a href="#">CONTACT</a></li> #}
</ul>
        
<ul class="admin_menu">
  {% if user.is_authenticated %}       
    <li> <a href="{% url add_article %}">NOWY ARTYKUŁ</a></li>
    <li> <a href="{% url add_grouper %}">NOWA GRUPA</a></li>
    <li> <a href="{% url logout %}">LOGOUT</a></li> 
  {% else %}
    <li> <a href="{% url login %}">LOGIN</a></li>
  {% endif %}
</ul>

